{% extends "_base.html" %}


{% block content %}
<div>
    <button class="btn btn-primary"
            hx-get="/api/get-message"
            hx-target="#response-holder"
            hx-trigger="click"
            hx-swap="innerHTML"
        >Get Message
    </button>
    <div id="response-holder"></div>

    <button class="btn btn-secondary mt-8" hx-get="/static/css/style.css" hx-swap="download">
        Download Report
    </button>

    <div class="mt-10">
        <div x-data="{ open: false }">
            <button class="btn btn-secondary btn-sm" @click="open = !open">Toggle Alpine State</button>
            <div x-show="open">
                <button class="btn btn-info btn-xs" 
                        hx-get="/api/get-message" 
                        hx-target="#result"
                        hx-swap="innerHTML">
                    Fetch data
                </button>
            </div>
        </div>
        <div id="result"></div>
    </div>

    <a href="/list/">List -></a>
    <br>
    <a href="/list2/">List 2 -></a>
    <button hx-get="/some" hx-target="this" class="btn btn-success btn-sm">send request</button>
</div>
{% endblock content %}