{% extends "_base.html" %}

{% block content %}

<div class="flex flex-row gap-4">

    <!-- Filters -->
    <div class="basis-1/4 rounded-lg border border-blue-400 rounded-lg">

    </div>


    <div class="basis-3/4 overflow-x-auto border border-green-400 rounded-lg" id="products-list">


        <!-- Primary action buttons (New - Refresh) -->
        <div class="flex flex-row-reverse rounded-lg border border-orange-400 gap-4">

            <!-- Refresh button -->
            <button
                class="flex items-center m-2 gap-2 bg-white border border-gray-300 rounded-lg shadow-md px-6 text-sm font-medium text-gray-800 hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500"
                hx-get="/views/all" hx-target="#table-body" hx-trigger="click" hx-swap="outerHTML"
                hx-indicator="#spinner" hx-disable="this" hx-on:htmx:before:request="refreshInProgress();"
                hx-on:htmx:after:request="showTable();">

                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                    <path fill-rule="evenodd"
                        d="M4.755 10.059a7.5 7.5 0 0 1 12.548-3.364l1.903 1.903h-3.183a.75.75 0 1 0 0 1.5h4.992a.75.75 0 0 0 .75-.75V4.356a.75.75 0 0 0-1.5 0v3.18l-1.9-1.9A9 9 0 0 0 3.306 9.67a.75.75 0 1 0 1.45.388Zm15.408 3.352a.75.75 0 0 0-.919.53 7.5 7.5 0 0 1-12.548 3.364l-1.902-1.903h3.183a.75.75 0 0 0 0-1.5H2.984a.75.75 0 0 0-.75.75v4.992a.75.75 0 0 0 1.5 0v-3.18l1.9 1.9a9 9 0 0 0 15.059-4.035.75.75 0 0 0-.53-.918Z"
                        clip-rule="evenodd" />
                </svg>
                <span>Refresh</span>
            </button>


            <!-- New item Modal Window -->
            <div x-data="{ open: false }" class="flex items-center" @success.window="open = false">

                <button
                    class="flex items-center m-2 gap-2 bg-white border border-gray-300 rounded-lg shadow-md px-6 py-2 text-sm font-medium text-gray-800 hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500"
                    @click="open = true">

                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                    </svg>
                    <span>Add new item</span>
                </button>



                <dialog id="new_product_modal" class="modal" :class=" {'modal-open': open }">
                    <div class="modal-box">
                        <form method="dialog">
                            <button class="btn absolute top-2 right-2 btn-circle btn-ghost btn-sm"
                                @click="open = false">
                                ✕
                            </button>
                        </form>

                        <form class="w-full rounded-b-lg bg-white" hx-post="/views/" hx-target="#table-body"
                            hx-swap="beforeend" hx-on:success="newItemSuccess();"
                            hx-on:htmx:after:request="this.reset();">
                            <h2 class="mb-6 text-xl font-semibold text-gray-800">New Product</h2>
                            <div class="flex flex-col gap-4">
                                <fieldset class="fieldset w-full rounded-box border border-base-300 bg-base-200 p-4">
                                    <div>
                                        <label for="product_name" class="mb-1 block text-sm font-medium">Name:</label>
                                        <input type="text" name="name" id="product_name" placeholder="Name"
                                            class="input w-full rounded-lg border px-3 py-2" required />
                                    </div>
                                    <div>
                                        <label for="category_id"
                                            class="mb-1 block text-sm font-medium">Category:</label>
                                        {% if categories %}
                                        <select name="category_id" id="category_id"
                                            class="select w-full rounded-lg border px-3 py-2">
                                            {% for category in categories %}
                                            <option value="{{ category.id }}">
                                                {{ category.name }}
                                            </option>
                                            {% endfor %}
                                        </select>
                                        {% else %}
                                        <select class="select w-full rounded-lg border px-3 py-2">
                                            <option>Failed to loaded categories</option>
                                        </select>
                                        {% endif %}
                                    </div>
                                    <div>
                                        <label for="in_stock" class="mb-1 block text-sm font-medium">In Stock:</label>
                                        <input type="number" name="in_stock" id="in_stock" placeholder="0"
                                            class="input w-full rounded-lg border px-3 py-2" />
                                    </div>
                                    <div class="mt-2 flex">
                                        <label for="available" class="block text-sm font-medium">Available?</label>
                                        <input type="checkbox" checked="checked" class="checkbox ml-2"
                                            name="available" />
                                    </div>
                                    <div class="mt-2 flex">
                                        <label for="price" class="block text-sm font-medium">Price</label>
                                        <input type="text" class="input w-full rounded-lg border px-3 py-2" name="price"
                                            id="product_price" placeholder="0">
                                    </div>
                                </fieldset>
                                <div>
                                    <fieldset
                                        class="fieldset w-full rounded-box border border-base-300 bg-base-200 p-4">
                                        <legend class="fieldset-legend">Pick a file</legend>
                                        <input type="file" class="file-input w-full" />
                                        <label class="label">Max size 2MB</label>
                                    </fieldset>
                                </div>
                                <div>
                                    <fieldset
                                        class="fieldset w-full rounded-box border border-base-300 bg-base-200 p-4">
                                        <legend class="fieldset-legend">Description</legend>
                                        <textarea class="textarea h-20 w-full"
                                            placeholder="Other information such as size and ..."></textarea>
                                        <div class="label">Optional</div>
                                    </fieldset>
                                </div>
                                <div class="flex justify-between">
                                    <button type="submit" class="btn h-8 w-32 btn-outline px-5 py-2 btn-info btn-md">
                                        Submit
                                    </button>

                                    <button type="button"
                                        class="btn-default btn h-8 w-32 btn-outline btn-md">Clear</button>
                                </div>
                            </div>
                        </form>
                        <div class="modal-backdrop m-4">
                            <button class="btn btn-outline btn-sm btn-error w-full" @click="open = false">close</button>
                        </div>
                    </div>
                </dialog>
            </div>


        </div>


        <div class="relative">
            <!-- Table -->
            <table class="table table-sm mt-2">
                <thead>
                    <tr class="text-center">
                        <th>#</th>
                        <th>
                            Select
                            <span class="text-xs">
                                <input type="checkbox" class="checkbox checkbox-xs">
                            </span>
                        </th>
                        <th>Name</th>
                        <th>Category</th>
                        <th>In Stock</th>
                        <th>Available</th>
                        <th>Price</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody id="table-body">
                    {% for item in items %}
                    {% set row_index = loop.index %}
                    {% include "main/fragments/data/row.html" %}
                    <script>
                        document.body.addEventListener(`editSuccess_{{ item.id }}`, function (evt) {
                            // console.log("EVENT", evt);
                            const row = document.getElementById("row-{{ loop.index }}");
                            Alpine.$data(row).editing = false;
                        });
                    </script>
                    {% endfor%}
                </tbody>
            </table>
            
            <div class="absolute inset-0 flex items-center justify-center">
                <span id="spinner" class="loading loading-spinner loading-xl htmx-indicator"></span>
            </div>
        </div>



    </div>



    <script>
        function refreshInProgress() {
            document.getElementById('products-list').style.opacity = 0.4;
            // disable all buttons

            // this returns Static NodeList
            document.querySelectorAll("button").forEach(button => {
                button.disabled = true;
            });
        }

        function showTable() {
            document.getElementById('products-list').style.opacity = 1.0;
            // re-enable all buttons

            // this returns a live collection
            const buttons = document.getElementsByTagName('button');
            for (const button of buttons) {
                button.disabled = false;
            }
        }

        function newItemSuccess() {
            // Handle closing of the modal,
            // Appending the row to the end of the table
            // Display notification perhaps
            console.log("New item added.")
        }
    </script>

</div>
{% endblock content %}