<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="htmx-config" content='{"live":{"bindPrefix":"hx:"}}'>
    <title>{% block title %}INDEX{% endblock title %}</title>

    <link rel="stylesheet" href="{{ vite_asset('static/css/style.css') }}">
</head>
<body class="m-20" hx-ext="alpine-compat">
    {% block content %}
    {% endblock content %}
    <script type="module" src="{{ vite_asset('static/js/main.js') }}"></script>
    <script src="{{ url_for('static', path='js/htmax.js') }}"></script>
</body>
</html>