<!-- Can't put a form or div directly inside a tr -->
<form>
  <div class="flex">
    <input class="input h-6 w-8 input-xs m-4" type="text" value="1" disabled />
    <div class="flex flex-col m-2">
      <label class="text-sm" for="name">Name:</label>
      <input class="input h-6 input-xs" type="text" name="name" placeholder="{{ product.name }}" />
    </div>

    <div class="flex flex-col m-2">
      <label class="text-sm" for="category_id">CategoryId:</label>
      <button hx-get="/load-categories/" hx-target="#categories-selectbox-response" class="btn btn-outline btn-xs">Load
        categories</button>
      <div id="categories-selectbox-response"></div>
    </div>

    <div class="flex flex-col m-2">
      <label class="text-sm" for=" in_stock">InStock:</label>
      <input class="input h-6 input-xs" type="number" name="in_stock" placeholder="{{ product.in_stock }}" />
    </div>

    <div class="flex flex-col m-2">
      <label class="text-sm" for="available">IsAvailable?</label>
      <input type="checkbox" checked="checked" class="checkbox" />
    </div>

    <div class="m-4">
      <button type="submit" class="btn btn-primary btn-xs">Confirm</button>
      <button hx-get="/row/{{ product.id }}" hx-target="closest tr" type="button"
        class="btn btn-error btn-xs">Cancel</button>
    </div>
  </div>
</form>